* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.material-symbols-outlined {
    width: fit-content;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

header input {
    background-color: white;

    width: 300px;
}

button {
    color: white;
    background: none;
    width: fit-content;
    height: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: white;
}

header {
    padding: 2rem 1rem;
    max-width: fit-content;
    width: 100%;
    margin: 0 auto;
}

main {
    padding: 2rem 1rem;
    max-width: fit-content;
    width: 100%;
    margin: 0 auto;
}

#tasks {
    width: 300px;    
}

.task {
    display: flex;
}

.task input{
    transform: translate(0%, 25%);        
}

.actions{
    display: flex;
    gap: 10px;
}

.text:not(:read-only) {
    color: blue;
}